.nombre {
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: gold;
    display: flex;
    align-content: center;
    justify-content: center;
}
body{
    background-color: grey;
    color: gold;
}
.columnas{
    color: gold;
}
/* .display{
    color:black;
} */
.btn-primary{
    color:black
}
.btn-danger{
    color: black;
}
.table{
    color:gold;
}
thead{
    color:black;
}
.table-primary{
    
    background-color: black;
}
.nav{
    color:gold;
}

.titulo-ses{
    align-self: center;
}
