.nombre {
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: gold;
    display: flex;
    align-content: center;
    justify-content: center;
}
body{
    background-color: grey;
    color: gold;
}
.columnas{
    color: gold;
}
/* .display{
    color:black;
} */
.btn-primary{
    color:black
}
.btn-danger{
    color: black;
}
.table{
<<<<<<< HEAD
    color:white;
}
.table-primary{
    color: black;
    background-color: black;
=======
    color:gold;
}

img{
    width: 980px;
>>>>>>> 3ea0da6e3668fcdefee7446724d89afd0e8d2947
}