body{
    background-color: black;
    color: gold;
}

.form-group{
    color:black;
}

.display{
    color:black;
}
.btn-primary{
    color:black
}
.btn-danger{
    color: black;
}

label{
    color: gold;
}